﻿@{
    ViewBag.Title = "Softvn.com - Nơi chia sẻ phần mềm và thủ thuật hữu ích";
}
<div class="body">
    <h5>Softvn.com - Nơi chia sẻ phần mềm và thủ thuật hữu ích</h5>
    <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    <ul id="inlineBlock2">
        <li>
            <a href="http://localhost:24933/ACVip" class="thumb">
                <img src="../Images/ac.jpg">
            </a>
            <p class="title">
                <a href="http://localhost:24933/ACVip">
                    <h3> Tài Khoản Vip</h3>
                </a>
            </p>
        </li>
        <li>
            <a href="http://localhost:24933/LapTrinh/Details/1" class="thumb">
                <img src="../Images/lt.png">
            </a>
            <p class="title">
                <a href="http://localhost:24933/LapTrinh/Details/1">
                    <h3> Phần Mềm Lập Trình </h3>
                </a>
            </p>
        </li>
        <li>
            <a href="http://localhost:24933/DietVR/Details/1" class="thumb">
                <img src="../Images/vr.jpg">
            </a>
            <p class="title">
                <a href="http://localhost:24933/DietVR/Details/1">
                    <h3> Phần Mềm Diệt ViRus</h3>
                </a>
            </p>
        </li>
    </ul>
</div>
