﻿@model QL_Account.Models.Comment
<div class="display-field">
    Tác giả: @Html.DisplayFor(model => model.Author)
</div>
<div class="display-field">
    <h3>Cách đây: @Html.DisplayFor(model => model.LastTime) phút</h3>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>