﻿@model Blog3.Models.Comment

@using (Html.BeginForm("Create", "Comment", new { idpost = ViewData["idpost"] }))
{
@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>




        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    }
