﻿@model Blog3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>
</fieldset>

@Html.Partial("_addComment", new Blog3.Models.Comment(), ViewData);
<fieldset>
    <legend>Tag</legend>
        @foreach (var tag in Model.Tags)
        { 
            <div class="display-field">
                @Html.DisplayFor(y => tag.Content)
            </div>
        }
</fieldset>
    <fieldset>
        <legend>Comment</legend>
            @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
            {
                <div class="display-field">
                    <h2> Cach day: @Html.DisplayFor(x => comment.LastTime)</h2>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(x => comment.Body)
                </div>
            }
        </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
