﻿@model Project.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>
    <i>Tag: </i>@Html.DisplayFor(model => model.Content)<br />
    <b>Tên Bài Viết:</b><br />
    @foreach (var p in Model.DietVRs)
    {
        <div class="display-field">
            <b> @Html.ActionLink(p.Title, "Details", new { Controller = "DietVR", action = "Details", id = p.ID })</b>
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
