﻿@model Project.Models.DangBai

@{
    ViewBag.Title = "Đăng Bài Mới";
}

<h2>Đăng Bài Mới</h2>
<fieldset>

    <div class="editor-label">
        <b>Bạn đã đăng bài thành công.</b>
    </div>
    <div class="editor-label">
        <b>Bài viết của bạn sẽ được Admin kiểm duyệt trước khi đưa lên trang chủ.</b>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Quay về trang chủ", "Index", "Home")
</p>
