﻿@model Project.Models.Comment


@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "My-Form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>
        <div class="display-label">
            <h4>Bình Luận</h4>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div>
            @Html.Hidden("iddietvr", ViewData["iddietvr"])
            @Html.Hidden("idlaptrinh", ViewData["idlaptrinh"])
            @Html.Hidden("Loai", ViewData["Loai"])
            <p>
                <input type="submit" value="Bình luận" />
            </p>
        </div>
    </fieldset>
}

<script src="~/Scripts/addComment.js"></script>
