﻿@model Project.Models.DietVR

@{
    ViewBag.Title = "Softvn.com - Nơi chia sẻ phần mềm và thủ thuật";
}

<h2>Phần Mềm Diệt Virus</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DietVR</legend>

        <div class="editor-label">
           <h3>Tiêu Đề</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            <h3>Nội Dung</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <div class="editor-label">
            <h3>Tag</h3> <i>(Thêm các mô tả cho bài viết)</i>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => new Project.Models.Tag().Content)
            @Html.ValidationMessageFor(model => new Project.Models.Tag().Content)
        </div>
        <p>
            <input type="submit" value="Đăng Bài" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
