﻿@model Project.Models.LapTrinh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LapTrinh</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    @foreach (var rate in Model.RatingLTs.OrderByDescending(x => x.Diem).Take(1))
    {
        <div class="display-field">
            <i>Đánh giá: @Html.DisplayFor(model => rate.Diem)</i>
        </div>
    }
    Đăng ngày: @Html.DisplayFor(model => model.DateCreate) bởi @Html.DisplayFor(model => model.UserProfile.UserName)
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

</fieldset>


@Html.Partial("_addRatingLT", new Project.Models.RatingLT(), ViewData)
@Html.Partial("_addCommentLT", new Project.Models.Comment(), ViewData)
<fieldset>
    <legend>Comment</legend>
    <div class="display-field">
        <h3>Comment:</h3>
    </div>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            if (comment.Loai == 2)
            {
                <div class="display-field">
                    <h5>Tác giả: @Html.DisplayFor(x => comment.Author)</h5>
                </div>
                <div class="display-field">
                    Cách đây: @Html.DisplayFor(x => comment.LastTime) phút
                </div>
                <div class="display-field">
                    @Html.DisplayFor(x => comment.Body)
                </div>
            }

        }
    </div>
</fieldset>


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
