﻿@model IEnumerable<Project.Models.LapTrinh>

@{
    ViewBag.Title = "Softvn.com - Nơi chia sẻ phần mềm và thủ thuật hữu ích";
}
@using (Html.BeginForm("Index", "LapTrinh", FormMethod.Get))
{
    <p>
        @*Publisher: @Html.DropDownList("Publishers", "All")*@
        Tên bài viết: @Html.TextBox("strSearch")
        <input type="submit" value="Search" />
    </p>
}

<p>
    @Html.ActionLink("Đăng Bài Mới", "Create")
</p>
<style>
    table, th, td {
        border: 2px solid #ff0000;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th width="192">Tiêu đề</th>
        <th width="750">Nội dung</th>
        <th width="130">Ngày đăng</th>
        <th width="140">Thao tác</th>

    </tr>
    @foreach (var item in Model.OrderByDescending(x => x.DateCreate))
    {
        <tr>
            <td>@Html.ActionLink(item.Title, "Details", new { id = item.ID })</td>
            <td>@item.Body</td>
            <td>@item.DateCreate</td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID })
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>

        </tr>
    }

</table>
