﻿@model Project.Models.ACVip

@{
    ViewBag.Title = "Softvn.com - Nơi chia sẻ phần mềm và thủ thuật";
}

<h2>Account Vip</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ACVip</legend>

        <div class="editor-label">
            <h3>Tên Account</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenAC)
            @Html.ValidationMessageFor(model => model.TenAC)
        </div>

        <div class="editor-label">
            <h3>Ngày Hết Hạn</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayHH)
            @Html.ValidationMessageFor(model => model.NgayHH)
        </div>

        <div class="editor-label">
            <h3>Mật Khẩu</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MK)
            @Html.ValidationMessageFor(model => model.MK)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
