﻿@model Project.Models.ACVip

@{
    ViewBag.Title = "Softvn.com - Nơi chia sẻ phần mềm và thủ thuật";
}

<h2>Details</h2>

<fieldset>
    <legend>ACVip</legend>

    <div class="display-label">
        <h3>Tên User</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenAC)
    </div>

    <div class="display-label">
         <h3>Ngày Hết Hạn</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayHH)
    </div>

    <div class="display-label">
         <h3>Mật Khẩu</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MK)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
