﻿@model IEnumerable<Project.Models.ACVip>

@{
    ViewBag.Title = "Softvn.com - Nơi chia sẻ phần mềm và thủ thuật hữu ích";
}

<p>
    @Html.ActionLink("Thêm Acc mới", "Create")
</p>
<style>
    table, th, td {
        border: 2px solid #ff0000;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th width="192">Tên Account</th>
        <th width="750">Mật Khẩu</th>
        <th width="130">Ngày Hết Hạn</th>
        <th width="140">Thao tác</th>

    </tr>
    @foreach (var item in Model.OrderByDescending(x => x.NgayHH))
    {
        <tr>
            <td>@Html.ActionLink(item.TenAC, "Details", new { id = item.ID })</td>
            <td>@Html.ActionLink(item.MK, "Details", new { id = item.ID })</td>
            <td>@item.NgayHH</td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID })
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>

        </tr>
    }

</table>
